<article>

  <div class="post-title">
    <h1>{{ .Title }}</h1>
    {{ if or (not (isset .Params "meta")) (eq .Params.meta true) }}
      <span>
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </span>
      {{ if ne .Date .Lastmod }}
      <span>
          {{ T "modifiedOn" }} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
      </span>
      {{ end }}
      {{ end }}
  </div>

    {{ if not (.Params.replace_site_logo) }}
      {{ partial "featured_image" . }}
    {{ end }}

    {{ .Content }}
    {{ if or (not (isset .Params "meta")) (eq .Params.meta true) }}
      {{ partial "article-meta" . }}
    {{ end }}
</article>
